.foot {
	background: #949490;
	color: #F7F7F2;
	font: bold 1em sans-serif;
	margin-top: 5px;
	padding: 10px 12px;
}
.foot a {
	color: #F7F7F2;
	text-decoration: none;
}
.foot a:hover {color: #FFC;}
.foot_right{float:right;}
.foot_right,.foot_right a {color: #C8C8C3;}
.foot_right a:hover {color: #F7F7F2;}