.main_right {
	float: right;
	width: 538px;
}
.date {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}
.main_right p {
	font-family: "Lucida Sans Unicode",sans-serif;
	text-indent:2em;
	max-height:110px;
	overflow:hidden;
}
.main_right a {
	color: #553;
	text-decoration: none;
}
.main_right a:hover{
	color: red;
}